*{
    font-family: sans-serif;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

body {
    margin: 0;
    padding: 0;
}

#navbar {
    width: -webkit-fill-available;
    position: fixed;
    text-align: right;
    background: rgb(221, 96, 96);
    margin: 0;
    padding: 20px;
}
  
#navbar li {
    padding: 0 10px;
    list-style-type: none;
    display: inline;
}

#navbar li a {
    font-weight: 600;
    text-decoration: none;
    color: white;
}

#welcome-section{
    height: 100vh;
    background-color: #000000;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    
}

#welcome-section h1{
    
    color: white;
    
}

#welcome-section h3{
    
    color: red;
    font-style: italic;
    
}

#projects{
    padding: 50px 0px;
    text-align: center;
    background-color: #45567d;
}

#projects-show{
    display: flex;
    justify-content: center;
    
}

.project{
    text-align: center;
    padding-left: 20px;
    display: block;
}

.project a, #profile-link{
    text-decoration: none;
    color: white;
}

.profilesSection{
    margin: 50px 0;
}

.profileImage{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
